.navbar-dark {
    background-color: ;
    font-family: "Big Shoulders Text", cursive;
    font-size: 200%;
}

.nav-link {
    color: white;
}

/*.nav-link:hover {
    color: black;
}*/

.bigphoto {
    background-image: url("../img/matcha-man-2.jpg");
    min-height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.menupic {
    background-image: url("../img/menupic.jpg");
    min-height: 800px;
    background-size: cover;
    background-attachment: local;
    background-position: center;
}

.orderpic {
    background-image: url("../img/orderpic.jpg");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutus {
    background-image: url("../img/aboutus.JPG");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.careers {
    background-image: url("../img/careerspic.JPG");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 50%;
    padding-bottom: 50%;
    text-align: center;
    font-family: "Big Shoulders Text", cursive;
}

h4 {
    text-align: center;
    font-size: 200%;
    color: white;
    font-family: "Big Shoulders Text", cursive;
}

.list-unstyled {
    text-align: center;
    font-size: 120%;
    color: white;
    font-family: "Big Shoulders Text", cursive;
}

.btn-social-icon {
    color: white
}

.site-footer {
    background: #49592a;
    padding: 20px 0;
}