body {
    overflow-x: hidden;
}

.navbar-dark {
    background-color: #00000075;
    font-family: "Big Shoulders Text", cursive;
    font-size: 200%;
}

nav.stroke ul li a {
  position: relative;
}

/* nav stroke */
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}
/* nav stroke */

/* This is the navbar for the about page */
#navabout {
    position: absolute;
    right: 2.5px;
    z-index: 1;
}
/* the z-index allows the navbar to be clickable and the absolute position places it over the video */

#matchaNavbar {
    margin-left: 125px;
}

.navbar-toggler {
    margin-left: 325px;
}

.nav-link {
    color: white;
}

.bigphoto {
    background-image: url("../img/menuheaderphoto.jpg");
    min-height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.menupic {
    background-image: url("../img/menupic.jpg");
    min-height: 800px;
    background-size: cover;
    background-attachment: local;
    background-position: center;
}

.orderpic {
    background-image: url("../img/orderpic.jpg");
    max-height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutus {
    background-image: url("../img/aboutus.JPG");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locationpic {
    background-image: url("../img/locationpic.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.careers {
    background-image: url("../img/careerspic.JPG");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 100px;
    padding-top: 50%;
    padding-bottom: 50%;
    text-align: center;
    font-family: "Big Shoulders Text", cursive;
}

h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 200%;
    color: white;
    font-family: "Big Shoulders Text", cursive;
}

.list-unstyled {
    text-align: center;
    font-size: 120%;
    color: white;
    font-family: "Big Shoulders Text", cursive;
}

.btn-social-icon {
    color: white
}

.site-footer {
    background: #49592a;
    padding: 20px, 0;
}

h2 {
    font-size: 100px;
    margin-top: 20px;
    padding: 100px;
    text-align: center;
    color: white;
    font-family: 'Sigmar One', cursive;
}

#link {
    color: black;
    text-decoration: none;
}

#link2 {
    color: white;
    text-decoration: none;
}

video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    font-family: "Big Shoulders Text", cursive;
}

p {
    text-align: center;
    margin-bottom: 100px;
}

.aboutuspic {
    background-image: url("../img/aboutuspic2.jpg");
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#about4 {
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menuHeader {
    background-image: url("../img/menuheaderphoto2.jpg");
    min-height: 750px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#menu1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#menuTitle {
    font-size: 15vw; /* vw makes the text fluid */
}

#menuPics {
    margin-bottom: 50px;
}

.orderHeader {
    background-image: url("../img/orderheader3.jpg");
    min-height: 750px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#orderLogos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#uberEats {
    margin-bottom: 25px;
} 

#postMates {
    margin-bottom: 25px;
}

#doorDash {
    margin-bottom: 25px;
}

#grubHub {
    margin-bottom: 25px;
}

#homeTitle {
    margin-top: 100px;
    font-size: 7vw;
    font-family: 'Sigmar One', cursive;
}

/* circle fill */
#link {
    display: inline-block;
  }

#link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }

#link
#link:after,
#link:before {
    transition: all .5s;
  }

#link:hover {
    color: #555;
  }

#link {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#link:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

#link:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}
/* circle fill */

/* Keyframes */
@-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }

/* to center application form on page */
#applicationForm {
text-align: center;
}

#applicationForm > * {
    text-align: left;
}

form {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* to center application form on page */

.careersHeader {
    background-image: url("../img/careersheaderphoto2.jpg");
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}